@import '../../global.scss';
.queue_list{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    .top{
        width: 100%;
        background: $mainBold;
        padding: 20px;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .side{
            color: white;
            font-size: 20px;
        }
    }
    .wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .list{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            table{
                width: 100%;
                padding: 0 20px;
                border-collapse: collapse;
                background-color: $divColor;
                thead{
                    width: 100%;
                    background: $mainBold;
                    tr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 2px;
                        th{
                            color: white;
                            font-weight: 400;
                        }
                    }
                }
                tbody{
                    width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px 10px;
                        &.even{
                            background: white;
                        }
                        // th{
                        //     color: white;
                        //     font-weight: 400;
                        // }
                        .action{
                            display: flex;
                            .icon_wrap{
                                margin: 0 5px;
                                cursor: pointer;
                                background: $mainBold;
                                padding: 5px;
                                transition: all .5s ease-in-out;
                                &.active{
                                    background: green;
                                }
                                .action_icon{
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}