.adverta{
    width: 100%;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    .advert {
        display: none;
        padding: 10px;
        //transition: transform 0.5s ease-in-out;
        color: white;
        //animation: marquee 20s linear infinite;
        &.active{
          display: inline-block;
        }
      }
}