.adverta{
    width: 100%;
    background: black;
    padding: 20px;
    overflow: hidden;
    white-space: nowrap;
    .advert {
        display: inline-block;
        padding: 10px;
        transition: transform 0.5s ease-in-out;
        color: white;
        animation: marquee 20s linear infinite;
      }
}
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); } 
}