@import '../../global.scss';
.layout{
    width: 100vw;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .side{
        width: 10%;
        min-height: 100%;
        transition: all .5s ease-in-out;
        &.full{
            display: none;
        }
    }
    .children{
        width: 90%;
        transition: all .5s ease-in-out;
        &.full{
            width: 100%;
        }
    }
    .full_button{
        position: fixed;
        bottom: 50px;
        right: 20px;
        background: $divColor;
        cursor: pointer;
        padding: 3px;
        border-radius: 10px;
        .icon{
            color: $mainBold;
        }
    }
}