@import '../../global.scss';
.form_print{
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    .printer{
        width: 100%;
        height: 100%;
        position: fixed;
        align-items: center;
        justify-content: center;
    }
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            font-size: 60px;
            margin: 10px 0 30px 0;
        }
        p{
            font-size: 20px;
            color: black;
            margin-top: 15px;
            font-weight: 600;
        }
    }
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .icon{
            width: 200px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .item{
            background: $mainColor;
            cursor: pointer;
            color: $mainBold;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            width: 20%;
            font-size: 25px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 100px;
            @include mobile{
                width: 90%;
            }
            p{
                color: white;
                font-size: 40px;
            }
        }
        .suggestions{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                h3{
                    font-size: 25px;
                    color: $mainColor;
                    font-weight: 500;
                }
            }
            .emojis{
                display: flex;
                    align-items: center;
                    justify-content: center;
                .emoti{
                    margin: 15px;
                    .icon___{
                        color: $mainColor;
                        cursor: pointer;
                        transition: all .5s ease-in-out;
                        &:hover{
                            color: $secondColor;
                        }
                    }
                }
            }
            .sug_action{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    padding: 15px;
                    border: 2px solid $divColor;
                    border-radius: 10px;
                    outline: none;
                    margin-right: 10px;
                    width: 270px;
                    height: 60px;
                    font-size: 20px;
                }
                .buttona{
                    background: $mainColor;
                    border-radius: 50%;
                    padding: 10px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .icon{
                        color: white;
                        animation: move .5s infinite;
                    }
                    &.loading{
                        animation: borderCycle .5s infinite;
                        opacity: .8;
                    }
                }
            }
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            position: fixed;
            background: white;
            animation: fall .5s forwards;
            top: 50%;
            left: 50%;
            width: 35%;
            transform: translate(-50%,-50%);
            &.active{
                animation: fall .5s forwards;  
            }
            @include mobile{
                width: 90%;
            }
            .top{
                width: 100%;
                //position: absolute;
                background: $mainBold;
                padding: 15px;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    font-size: 20px;
                    color: white;
                    font-weight: 400;
                    font-family: "roboto";
                }
            }
            .conts{
                padding: 30px 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .topa{
                    border: 2px solid green;
                    border-radius: 50%;
                    padding: 20px;
                    animation: border 1s ease-in-out;
                    .icon{
                        color: green;
                        animation: icon .8s ease-in-out;
                    }
                }
                h1{
                    font-size: 25px;
                    font-weight: 400;
                    margin: 10px 0;
                    animation: border 1s ease-in-out;
                }
            }
            .contents{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .bar{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .right{
                        display: flex;
                        .clear{
                            background: $divColor;
                        padding: 15px;
                        cursor: pointer;
                        margin: 20px;
                        .icon{
                            color: $mainColor;
                        }
                        }
                    }
                    .left{
                        //margin: 20px;
                        width: 60%;
                        input{
                            outline: none;
                            width: 100%;
                            font-size: 50px;
                            font-weight: 600;
                            color: $mainColor;
                            direction: ltr;
                            text-align: right;
                            border: none;
                        }
                    }
                }
                .keyBoard{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .key{
                        background: $divColor;
                        padding: 10px;
                        margin: 20px;
                        font-size: 20px;
                        color: $mainColor;
                        width: 20%;
                        text-align: center;
                        cursor: pointer;
                        font-weight: 600;
                        color: $mainBold;
                    }
                }
                .exceptions{
                    width: calc(100% - 20px);
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: $divColor;
                    padding: 5px;
                    h1{
                        font-size: 20px;
                        color: $mainBold;
                        font-weight: 500;
                    }
                    .suggestions{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        .suggestion{
                            background: $divColor;
                            margin: 5px;
                            padding: 5px;
                            border: 1px solid $mainColor;
                            border-radius: 100px;
                            cursor: pointer;
                            transition: all .5s ease-in-out;
                            &.active{
                                background: $mainBold;
                                border: none;
                                color: white;
                            }
                        }
                    }
                    .actiona{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        display: none;
                        .acta{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            label{
                                margin-right: 10px;
                            }
                            .duara_nje{
                                width: 60px;
                                height: 30px;
                                border-radius: 100px;
                                background: grey;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                &.active{
                                    background: $mainColor;
                                }
                                .duara_ndani{
                                    width: 40px;
                                    height: 20px;
                                    border-radius: 100px;
                                    background: white;
                                    margin: 10px;
                                    transition: all .2s ease-in-out;
                                    &.active{
                                        transform: translateX(20%);
                                    }
                                }
                            }
                        }
                    }  
                }
                .action{
                    width: 100%;
                    margin: 20px 0;
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    button{
                        width: 70%;
                        background: $mainBold;
                        outline: none;
                        border: none;
                        color: white;
                        padding: 20px;
                        cursor: pointer;
                    }
                    .cleara{
                        width: 20%;
                        background: $mainBold;
                        color: white;
                        padding: 20px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
@keyframes fall {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}