@import '../../global.scss';
.recorder{
    width: 100vw;
    height: calc(100vh - 70px);
    position: relative;
    .meds_top{
        width: 100%;
        background: $mainBold;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        position: fixed;
        top: 0;
        .left{
            color: white;
            font-weight: 500;
            font-size: 20px;
            h4{
                span{
                    color: $mainColor
                }
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            .search{
                display: flex;
                align-items: center;
                justify-content: center;
                .search_bar{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input{
                        outline: none;
                        border: none;
                        padding: 10px;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
                .icon__{
                    color: white;
                    cursor: pointer;
                }
            }
            .special{
                display: flex;
                align-items: center;
                justify-content: center;
                .one{
                    background: $divColor;
                    padding: 5px;
                    margin: 5px;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    color: $mainColor;
                    &.active{
                        background: $mainColor;
                        color: white;
                    }
                }
            }
            .side{
                color: $mainBold;
                font-size: 20px;
                label{
                    color: $mainColor;
                }
                select{
                    padding: 5px;
                    outline: none;
                    margin-left: 10px;
                    border: 2px solid $mainBold;
                    border-radius: 4px;
                    font-size: 17px;
                    color: $mainColor;
                    option{
                        color: $mainColor;
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 5;
        display: none;
        align-items: center;
        justify-content: center;
        &.active{
            display: flex;
        }
        .next_stage{
            background-color: white;
            width: 20%;
            position: absolute;
            animation: drop .5s ease-in-out;
            @include mobile{
                width: 90%;
            }
            .close{
                position: absolute;
                background-color: red;
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                top: -10px;
                right: -10px;
                color: white;
            }
            form{
                padding: 15px;
                display: flex;
                flex-direction: column;
                input{
                    outline: none;
                    padding: 15px;
                    border: 2px solid $divColor;
                    margin-top: 20px;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: .7;
                }
                p{
                    font-size: 18px;
                    font-weight: 600;
                    opacity: .6;
                    span{
                        color: $mainColor;
                        margin-right: 10px;
                        font-size: 15px;
                        opacity: 1;
                    }
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 0;
                    .button{
                        outline: none;
                        padding: 15px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        background: $mainBold;
                        transition: all .5s ease-in-out;
                        &:hover{
                            background: $mainColor;
                        }
                        &.finish{
                            background: $divColor;
                            cursor: no-drop;
                            &.found{
                                background: #34ce34;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .fin_loader{
                width: 100%;
                background: $divColor;
                height: 3px;
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                display: none;
                &.active{
                    display: block;
                }
                .progress{
                    height: 80%;
                    background: $mainColor;
                    animation: width .5s infinite;
                }
            }
        }
    }
    .list{
        margin-top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        .loader{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .list_items{
            width: 100%;
            .wrap{
                width: 100%;
                table{
                    width: 100%;
                    border-collapse: collapse;
                    thead{
                        width: 100%;
                        tr{
                            width: 100%;
                            background: $mainColor;
                            padding: 10px 0;
                            th{
                                color: white;
                                padding: 10px 0;
                                text-align: left;
                            }
                        }
                    }
                    tbody{
                        width: 100%;
                        tr{
                            width: 100%;
                            background: white;
                            &.even{
                                background: $divColor;
                            }
                        }
                    }
                    td{
                        text-align: left;
                        padding: 10px 0;
                        font-size: 17px;
                        opacity: .6;
                        font-weight: 500;
                    }
                }
                .no_data{
                    width: 100%;
                    height: 80vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    opacity: .7;
                    color: $mainColor;
                    font-size: 20px;
                    span{
                        color: $secondColor;
                        font-weight: 600;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    .serving{
        opacity: 0;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 80px;
        flex-direction: column;
        transition: all .5s ease;
        display: none;
        &.active{
            opacity: 1;
            display: flex;
        }
        .speaker{
            cursor: pointer;
            .icon{
                color: $secondColor;
            }
        }
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .row_item{
                margin: 10px;
                .button{
                    background: $mainColor;
                    padding: 5px 10px;
                    border-radius: 10px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    font-size: 18px;
                    &:hover{
                        background: $mainBold;
                    }
                }
                .token{
                    font-size: 50px;
                    color: $secondColor;
                    font-weight: 600;
                }
            }
        }
    }
    .chini{
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        border-top: 2px solid $divColor;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 15px;
            .item{
                p{
                    font-weight: 500;
                    color: $mainColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        font-weight: 600;
                        color: $secondColor;
                        margin-left: 10px;
                    }
                }
            }
            .item_out{
                background: red;
                padding: 5px;
                cursor: pointer;
                .icon{
                    color: white;
                }
            }
        }
    }
}
@keyframes drop {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes width {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}