@import '../../global.scss';
.recorder{
    width: 100vw;
    height: calc(100vh - 70px);
    position: relative;
    .insurance{
        position: fixed;
        bottom: 80px;
        right: 40px;
        background: $mainBold;
        border-radius: 50%;
        padding: 15px;
        width: 60px;
        height: 60px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        color: white;
        box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.1),
        0 10px 15px rgba(0, 0, 0, 0.1),
        0 20px 25px rgba(0, 0, 0, 0.1),
        0 40px 60px rgba(0, 0, 0, 0.05);
        p{
            font-size: 18px;
            font-weight: 600;
        }
    }
    .overlay01{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;
        .insurance_content{
            background: white;
            width: 20%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            .close{
                position: absolute;
                top: -20px;
                right: -20px;
                background: red;
                border-radius: 50%;
                color: white;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
            }
            .title{
                font-size: 20px;
                color: $mainColor;
                margin: 10px;
            }
            form{
                width: 95%;
                select{
                    border: 2px solid $divColor;
                    padding: 15px;
                    outline: none;
                    width: 100%;
                    margin: 10px 0;
                    color: $mainColor;
                    font-size: 18px;
                    font-weight: 600;
                    option{
                        color: black;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                button{
                    padding: 15px;
                    outline: none;
                    width: 100%;
                    margin: 10px 0;
                    color: white;
                    font-size: 18px;
                    font-weight: 600;
                    background: $mainColor;
                    cursor: pointer;
                    border: none;
                }
            }
        }
        .contents{
            background: white;
            position: absolute;
            width: 25%;
            .close{
                position: inherit;
                top: -10px;
                right: -10px;
                background: red;
                padding: 10px;
                cursor: pointer;
                border-radius: 50%;
                color: white;
            }
            .video_list{
                width: 100%;
                padding: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                z-index: 100;
                .title{
                    color: $mainColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin: 10px 0;
                    h1{
                        text-align: center;
                        font-size: 25px;
                    }
                }
                .video_item{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px;
                    &:nth-child(even){
                        background: #bfbfbf;
                    }
                    p{
                        width: 50%;
                    }
                    .video{
                        width: 30%;
                        height: 50px;
                        video{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .action{
                        background: $mainBold;
                        padding: 5px 15px;
                        color: white;
                        cursor: pointer;
                        &:hover{
                            background: $mainColor;
                        }
                    }
                }
            }
        }
    }
    .priority{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        .prior_data{
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 15px;
            .title{
                font-size: 20px;
                color: $mainColor;
                opacity: .6;
            }
            select{
                border: 2px solid $divColor;
                padding: 15px;
                outline: none;
                color: black;
                opacity: .7;
                font-weight: 600;
                width: 200px;
                margin-top: 10px;
                option{
                    color: black;
                    opacity: .6;
                }
            }
            button{
                width: 200px;
                padding: 15px;
                background: $mainColor;
                color: white;
                outline: none;
                border: none;
                cursor: pointer;
                margin-top: 10px;
                transition: all .5s ease-in-out;
                &:hover{
                    opacity: .5;
                }
            }
        }
    }
    .meds_top{
        width: 100%;
        background: $mainBold;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        position: fixed;
        top: 0;
        .left{
            color: white;
            font-weight: 500;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            h4{
                span{
                    color: $mainColor
                }
            }
            .out{
                margin: 0 15px;
                border-radius: 50%;
                background: $mainColor;
                padding: 5px;
                cursor: pointer;
                transition: all .5s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    background: red;
                }
            }
            .rest{
                padding: 10px;
                background: $mainColor;
                cursor: pointer;
                color: white;
                border-radius: 10px;
            }
        }
        .right{
            display: flex;
            align-items: center;
            justify-content: center;
            .search{
                display: flex;
                align-items: center;
                justify-content: center;
                .search_bar{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    input{
                        outline: none;
                        border: none;
                        padding: 10px;
                        font-weight: 600;
                        font-size: 18px;
                    }
                }
                .icon__{
                    color: white;
                    cursor: pointer;
                }
            }
            .special{
                display: flex;
                align-items: center;
                justify-content: center;
                .one{
                    background: $divColor;
                    padding: 5px;
                    margin: 5px;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    color: $mainColor;
                    &.active{
                        background: $mainColor;
                        color: white;
                    }
                }
            }
            .side{
                color: $mainBold;
                font-size: 20px;
                label{
                    color: $mainColor;
                }
                select{
                    padding: 5px;
                    outline: none;
                    margin-left: 10px;
                    border: 2px solid $mainBold;
                    border-radius: 4px;
                    font-size: 17px;
                    color: $mainColor;
                    option{
                        color: $mainColor;
                        font-size: 17px;
                    }
                }
            }
        }
    }
    .overlay{
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 5;
        display: none;
        align-items: center;
        justify-content: center;
        &.active{
            display: flex;
        }
        .next_stage{
            background-color: white;
            width: 20%;
            position: absolute;
            animation: drop .5s ease-in-out;
            @include mobile{
                width: 90%;
            }
            .close{
                position: absolute;
                background-color: red;
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
                top: -10px;
                right: -10px;
                color: white;
            }
            form{
                padding: 15px;
                display: flex;
                flex-direction: column;
                input{
                    outline: none;
                    padding: 15px;
                    border: 2px solid $divColor;
                    margin-top: 20px;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: .7;
                }
                p{
                    font-size: 18px;
                    font-weight: 600;
                    opacity: .6;
                    span{
                        color: $mainColor;
                        margin-right: 10px;
                        font-size: 15px;
                        opacity: 1;
                    }
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 0;
                    .button{
                        outline: none;
                        padding: 15px;
                        border: none;
                        color: white;
                        cursor: pointer;
                        background: $mainBold;
                        transition: all .5s ease-in-out;
                        &:hover{
                            background: $mainColor;
                        }
                        &.finish{
                            background: $divColor;
                            cursor: no-drop;
                            &.found{
                                background: #34ce34;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            .fin_loader{
                width: 100%;
                background: $divColor;
                height: 3px;
                position: absolute;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                display: none;
                &.active{
                    display: block;
                }
                .progress{
                    height: 80%;
                    background: $mainColor;
                    animation: width .5s infinite;
                }
            }
        }
    }
    .list{
        margin-top: 70px;
        width: 100%;
        height: calc(100% - 70px);
        .loader{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .list_items{
            width: 100%;
            .wrap{
                width: 100%;
                table{
                    width: 100%;
                    border-collapse: collapse;
                    thead{
                        width: 100%;
                        tr{
                            width: 100%;
                            background: $mainColor;
                            padding: 10px 0;
                            th{
                                color: white;
                                padding: 10px 0;
                                text-align: left;
                            }
                        }
                    }
                    tbody{
                        width: 100%;
                        tr{
                            width: 100%;
                            background: white;
                            &.even{
                                background: $divColor;
                            }
                        }
                    }
                    td{
                        text-align: left;
                        padding: 10px 0;
                        font-size: 17px;
                        opacity: .6;
                        font-weight: 500;
                        .actions{
                            display: flex;
                            .serve{
                                width: 85px;
                                background: $mainColor;
                                padding: 5px;
                                cursor: pointer;
                                color: white;
                                margin: 0 5px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                transition: all .5s ease-in-out;
                                &.active{
                                    background: #68b968; 
                                }
                                &.owner{
                                    background: #2bf72b;   
                                }
                                &.prioritya{
                                    background: red;
                                }
                                &:hover{
                                    background: green;
                                }
                                &.calling{
                                    background: $secondColor;
                                }
                            }
                        }
                    }
                }
                .no_data{
                    width: 100%;
                    height: 80vh;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 500;
                    opacity: .7;
                    color: $mainColor;
                    font-size: 20px;
                    span{
                        color: $secondColor;
                        font-weight: 600;
                        margin: 0 10px;
                    }
                }
            }
        }
    }
    .serving{
        opacity: 0;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 80px;
        flex-direction: column;
        transition: all .5s ease;
        display: none;
        &.active{
            opacity: 1;
            display: flex;
        }
        .speaker{
            cursor: pointer;
            .icon{
                color: $secondColor;
            }
            .spika{
                border-radius: 50%;
                background: $secondColor;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease-in-out;
                &.active{
                    border: 4px solid $mainBold;
                    animation: rotate-border 2s linear infinite;
                }
                .rounder{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 15px;
                    .icon{
                        color: white;
                    }
                }
            }
        }
        .row{
            display: flex;
            align-items: center;
            justify-content: center;
            .row_item{
                margin: 10px;
                .button{
                    background: $mainColor;
                    padding: 5px 10px;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    font-size: 18px;
                    &:hover{
                        background: $mainBold;
                    }
                }
                .token{
                    font-size: 50px;
                    color: $secondColor;
                    font-weight: 600;
                }
            }
        }
    }
    .chini{
        width: 100%;
        height: 70px;
        position: absolute;
        bottom: 0;
        border-top: 2px solid $divColor;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        .top{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 15px;
            .item{
                cursor: pointer;
                p{
                    font-weight: 500;
                    color: $mainColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span{
                        font-weight: 600;
                        color: $secondColor;
                        margin-left: 10px;
                    }
                }
                &.active{
                    background: $mainColor;
                    padding: 5px 10px;
                    p{
                        color: white;
                    }
                }
            }
            .item_out{
                background: red;
                padding: 5px;
                cursor: pointer;
                .icon{
                    color: white;
                }
            }
        }
    }
}
@keyframes drop {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes width {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
@keyframes rotate-border {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }