@import '../../global.scss';
.bar{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .peak_time{
        position: absolute;
        top: 80px;
        left: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 15px;
            font-weight: 500;
        }
        .peaks{
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            p{
                margin-right: 10px;
            }
        }
    }
    .day_descriptions{
        top: 80px;
        position: absolute;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .colors{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                .color{
                    width: 20px;
                    height: 20px;
                    &.total{
                        background: black;
                    }
                    &.med{
                        background: $mainColor;
                    }
                    &.account{
                        background: $mainBold;
                    }
                    &.station{
                        background: red;
                    }
                    &.clinic{
                        background: crimson;
                    }
                }
                .label{
                    font-size: 15px;
                    margin: 0 5px;
                }
            }
        }
        .array{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .time_item{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                .labela{
                    width: 20px;
                    height: 20px;
                    // background: $secondColor;
                    margin-right: 10px;
                    &.med{
                        background: $mainColor;
                    }
                    &.account{
                        background: $mainBold;
                    }
                    &.station{
                        background: red;
                    }
                    &.clinic{
                        background: crimson;
                    }
                }
                .itema{
                    font-weight: 600;
                    color: black;
                    opacity: .8;
                }
            }
        }
    }
    .top_bar{
        position: absolute;
        top: 0;
        width: 100%;
        background: $mainColor;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left{
            display: flex;
            align-items: center;
            justify-content: center;
            .item{
                display: flex;
                align-items: center;
                justify-content: center;
                label{
                    font-size: 18px;
                    color: white;
                    margin-right: 10px;
                }
                select{
                    outline: none;
                    border: 2px solid $divColor;
                    border-radius: 3px;
                    padding: 10px;
                }
            }
        }
        .right{
            margin: 10px;
            p{
                color: $mainBold;
                font-size: 20px;
                span{
                    color: white;
                }
            }
        }
    }
    .graph{
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: relative;
        .graph_wrap{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .idadi{
                position: absolute;
                opacity: 0;
                top: -10px;
                background: rgba(0,0,0,.5);
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all .5s ease-in-out;
                padding: 5px;
                font-size: 20px;
                font-weight: 600;
                z-index: 2;
                &.active{
                    opacity: 1;
                }
            }
            .bar{
                width: 120px;
                display: flex;
                align-items: flex-end;
                justify-content: space-between;
                height: 100%;
                cursor: pointer;
                z-index: 1;
                .med{
                    width: 33%;
                    background: $mainColor;
                    border-bottom: 2px solid $mainColor;
                }
                .account{
                    width: 33%;
                    background: $mainBold;
                    border-bottom: 2px solid $mainBold;
                }
                .station{
                    width: 33%;
                    background: red;
                    border-bottom: 2px solid red;
                }
                .clinic{
                    width: 33%;
                    background: crimson;
                    border-bottom: 2px solid crimson;
                }
                .total{
                    width: 33%;
                    background: black;
                    border-bottom: 2px solid black;
                }
            }
            .label{
                position: absolute;
                bottom: -5%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: red;
            }
        }
        .x_axis{
            position: absolute;
            left: 0;
            bottom: 0;
            top: 0;
            height: 100%;
            width: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            h1{
                color: $mainColor;
                font-size: 18px;
            }
        }
    }
}