@import '../../global.scss';
.current_serving {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px; // Adds 3D perspective for flip effect

  .namba {
    display: none;

    &.active {
      display: block;
    }
  }

  .card {
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;

    &.flip {
      animation: flip 0.6s ease-in-out;
    }

    p {
      color: $secondColor; // White text for contrast on red background
      font-size: 250px;
      margin: 0;
      font-weight: 600;
    }
  }

  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    50% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}