@import '../../global.scss';
.ticket{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100vh;
    overflow: hidden;
    .priority_overlay{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        .prior_content{
            width: 20%;
            background: white;
            position: relative;
            height: 200px;
            .close{
                background: red;
                border-radius: 50%;
                padding: 15px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: absolute;
                top: -20px;
                right: -20px;
            }
        }
    }
    .language{
        position: absolute;
        bottom: 40px;
        right: 40px;
        cursor: pointer;
        .lang_icons{
            display: flex;
            align-items: center;
            justify-content: center;
            background: $divColor;
            border-radius: 100px;
            padding: 10px;
        }
    }
    .priority{
        position: absolute;
        bottom: 40px;
        left: 40px;
        cursor: pointer;
        .lang_icons{
            display: flex;
            align-items: center;
            justify-content: center;
            background: $divColor;
            border-radius: 100px;
            padding: 10px;
        }
    }
    .note_overlay{
        &.display{
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            .note{
                position: absolute;
                padding: 25px;
                background: white;
                top: -100px;
                transition: all .5s ease-in-out;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                &.display{
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                p{
                    color: $mainBold;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: .7;
                }
                .icon{
                    background: $mainBold;
                    margin: 0 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 5px;
                    border-radius: 50%;
                    .icon__{
                        color: white;
                        display: inline-block;
                        animation: rotateBack 1s ease forwards;
                    }
                }
            }
        }
    }
    .ticket_top{
        width: 100%;
        background: $mainColor;
        position: absolute;
        top: 0;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo{
            width: 100px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .title{
            position: fixed;
            left: 0;
            right: 0;
            h1,h2{
                color: white;
                text-align: center;
                font-weight: 500;
                margin: 10px;
            }
        }
        .item{
            position: absolute;
            left: 20px;
            .logo{
                width: 80px;
                height: 80px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .center{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .item{
            width: 35%;
            background: $mainColor;
            padding: 15px;
            border-radius: 100px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 8px 15px rgba(0, 0, 0, 0.2), 0 12px 25px rgba(0, 0, 0, 0.3);
            p{
                color: white;
                font-size: 40px;
                padding: 15px;
            }
        }
    }
    .suggestions{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                h3{
                    font-size: 25px;
                    color: $mainColor;
                    font-weight: 500;
                }
            }
            .sugs{
                display: flex;
                align-items: center;
                justify-content: center;
                .sug{
                    width: 150px;
                    border: 2px solid $divColor;
                    padding: 10px;
                    border-radius: 100px;
                    font-size: 25px;
                    margin: 10px;
                    color: $mainBold;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.active{
                        background: $mainColor;
                        color: white;
                    }
                    .imoji_content{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .image_wrapper{
                            width: 30px;
                            height: 30px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
            .sug_action{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    padding: 15px;
                    border: 2px solid $divColor;
                    border-radius: 10px;
                    outline: none;
                    margin-right: 10px;
                    width: 270px;
                    height: 60px;
                    font-size: 20px;
                }
                .buttona{
                    background: $mainColor;
                    border-radius: 50%;
                    padding: 10px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .icon{
                        color: white;
                        animation: move .5s infinite;
                    }
                    &.loading{
                        animation: borderCycle .5s infinite;
                        opacity: .8;
                    }
                }
            }
        }
    .isBima{
        width: 100%;
        height: 100%;
        position: fixed;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .general_decision{
            width: 70%;
            background: white;
            transition: all .5s ease-in-out;
            position: relative;
            padding: 30px 0;
            .close{
                position: absolute;
                top: -20px;
                right: -20px;
                background: red;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 15px;
                color: white;
                font-size: 18px;
                border-radius: 100px;
            }
            .bima_choices{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            .choice{
                border: 2px solid $divColor;
                border-radius: 100px;
                cursor: pointer;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                font-size: 20px;
                font-weight: 600;
                color: black;
                opacity: .6;
                transition: all .5s ease-in-out;
                &.active{
                    background: $mainColor;
                    color: white;
                    opacity: 1;
                }
            }
        }
        .decision{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                p{
                    color: $mainColor;
                    font-size: 18px;
                    font-weight: 600;
                    opacity: .7;
                }
            }
            .bima_choices{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            .choice{
                border: 2px solid $divColor;
                border-radius: 100px;
                cursor: pointer;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 10px;
                font-size: 20px;
                font-weight: 600;
                color: black;
                opacity: .6;
                transition: all .5s ease-in-out;
                &.active{
                    background: $mainColor;
                    color: white;
                    opacity: 1;
                }
            }
        }
        }
        button{
            width: 90%;
            background: $mainColor;
            border: none;
            outline: none;
            padding: 20px 0;
            border-radius: 100px;
            color: white;
            cursor: pointer;
            margin: 15px;
            font-size: 18px;
        }
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            width: 70%;
            background: white;
            position: relative;
            .key_board{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .title{
                    font-size: 30px;
                    margin: 20px;
                    color: $mainColor;
                    font-weight: bold;
                }
                .key_top{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    .m_a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        .m{
                            background: $divColor;
                            font-size: 18px;
                            font-weight: 600;
                            padding: 15px;
                            &.active{
                                background: $mainColor;
                                color: white;
                            }
                        }
                        .a{
                            font-size: 18px;
                            font-weight: 600;
                            background: $divColor;
                            padding: 15px;
                            &.active{
                                background: $mainColor;
                                color: white;
                            }
                        }
                        &.none{
                            display: none;
                        }
                    }
                    .number_string{
                        color: $mainColor;
                        opacity: 1;
                        font-weight: 600;
                        input{
                            border: none;
                            font-size: 45px;
                            color: $mainColor;
                            opacity: 1;
                            font-weight: 600;
                        }
                    }
                    .delete_number{
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .icon__{
                            color: $mainColor;
                            margin: 15px;
                            opacity: .7;
                        }
                    }
                }
                .key_numbers{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    padding: 10px;
                    .key_number{
                        width: 30%;
                        background: $mainColor;
                        cursor: pointer;
                        padding: 20px;
                        color: white;
                        margin: 10px 0;
                        opacity: .9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                        font-size: 25px;
                        &.none{
                            background: red;
                            opacity: 1;
                            font-weight: 500;
                        }
                        &.fubaa{
                            //background: red;
                            //opacity: .5;
                            font-weight: 500;
                        }
                    }
                }
                button{
                    width: 98%;
                    background: $mainBold;
                    padding: 30px;
                    cursor: pointer;
                    border: none;
                    outline: none;
                    color: white;
                    margin: 10px 0;
                    font-size: 20px;
                    &.active{
                        opacity: .5;
                    }
                }
            }
            .loader{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 4px;
                background: $mainColor;
                display: flex;
                align-items: center;
                justify-content: center;
                .inside{
                    width: 0;
                    height: 70%;
                    background: white;
                    animation: growWidth .5s linear infinite;
                }
            }
        }
    }
    .printable{
        width: 20%;
        display: none;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        background: white;
        padding: 20px;
        &.active{
            display: flex;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: auto;
            //padding: 20px 0;
            width: 100%;
            h1{
                font-size: 20px;
                margin: 10px 0;
                width: 100%;
                text-align: center;
            }
            .contents{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    margin: 15px 0;
                    font-size: 30px;
                }
                .qr{
                    margin: 15px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
}

@keyframes growWidth {
    0% {
    width: 0;
    }
    100% {
    width: 100%;
    }
}