@import '../../global.scss';
.side_bar{
    width: 100%;
    background-color: white;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.3);
    //box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
    .logo{
        position: absolute;
        top: 20px;
        display: none;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        img{
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                color: $secondColor;
                font-size: 25px;
            }
            p{
                color: $mainColor;
                font-weight: 500;
            }
        }
    }
    .links{
        width: 100%;
        ul{
            width: 100%;
            li{
                list-style: none;
                font-size: 20px;
                transition: all .5s ease-in-out;
                margin: 15px 0;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                cursor: pointer;
                font-size: 17px;
                color: $mainColor;
                .icon{
                    width: 20%;
                }
                .link{
                    width: 60%;
                }
                &.active{
                    color: $secondColor;
                    font-weight: 600;
                }
                &:hover{
                    color: $secondColor;
                }
            }
        }
    }
}