@import '../global.scss';
.index{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .top_home_comp{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: $mainBold;
        top: 0;
        // left: 0;
        // right: 0;
        h1{
            text-align: center;
            color: white;
            padding: 15px;
        }
    }
    .home_comp_body{
        width: 100%;
        min-height: calc(100vh - 100px );
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        .home_comp_body_left{
            width: 58%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $divColor;
            height: 70vh;
            h1{
                font-size: 200px;
                color: green;
            }
        }
        .home_comp_body_right{
            width: 40%;
            background: $divColor;
            height: 70vh;
            //border: 2px solid $mainBold;
            table{
                //border: 2px solid $mainBold;
                border-collapse: collapse;
                width: 100%;
                thead{
                    width: 100%;
                    background: $mainBold;
                    tr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px;
                        //border-bottom: 1px solid $mainBold;
                        th{
                            color: white;
                        }
                    }
                }
                tbody{
                    width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 15px;
                        margin: 1px 0;
                        //border-bottom: 1px solid $mainBold;
                        td{
                            font-size: 20px;
                        }
                        .status{
                            background: green;
                            color: white;
                            padding: 5px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    .top{
        position: absolute;
        width: 100%;
        top: 0;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item{
            display: flex;
            .act{
                padding: 10px;
                background: $divColor;
                margin: 5px;
                cursor: pointer;
            }
        }
    }
    .body{
        width: 100%;
        height: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .right{
            width: 30%;
            height: 80%;
            //border: 2px solid $mainColor;
            //border-radius: 10px;
            background: $divColor;
            .items{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 15px;
                .item{
                    width: 90%;
                    padding: 15px;
                    background: $mainColor;
                    //border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    .ticket{
                        color: white;
                        font-size: 20px;
                    }
                    .name{
                        color: white;
                        font-size: 15px;
                        font-weight: 300;
                    }
                }
            }
        }
        .left{
            width: 60%;
            //border: 2px solid $mainColor;
            height: 80%;
            //border-radius: 10px;
            padding: 10px;
            background: $divColor;
        }
    }
    .adverts{
        width: 100%;
        position: absolute;
        bottom: 0;
    }
}