@import '../../global.scss';
.services{
    width: 100vw;
    position: relative;
    height: 100vh;
    overflow: hidden;
    .service_top{
        width: 100%;
        position: absolute;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $mainBold;
        padding: 15px 20px;
        height: 70px;
        .service_left{
            font-size: 25px;
            color: white;
            font-size: 18px;
            //margin: 20px;
        }
        .service_right{
            background: $mainColor;
            padding: 10px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 10px;
            p{
                color: white;
                text-align: center;
            }
        }
    }
    .add_service{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        form{
            width: 30%;
            position: inherit;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            animation: move .5s ease-in-out;
            .add_items{
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .add_item{
                    width: 95%;
                    float: left;
                    margin: 10px 0;
                    label {
                        font-size: 18px;
                        color: #333;
                        margin-bottom: 8px;
                        display: block;
                      }
                    
                      input[type="text"],select {
                        width: 100%;
                        padding: 10px;
                        font-size: 16px;
                        border: 1px solid #ccc;
                        border-radius: 4px;
                        box-sizing: border-box;
                        &:focus{
                            border: 1px solid $mainBold;
                        }
                      }
                }
            }
            .action{
                width: 100%;
                margin: 10px 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                button{
                    background: $mainColor;
                    padding: 15px;
                    color: white;
                    outline: none;
                    border: none;
                    text-align: center;
                    cursor: pointer;
                }
                .clear{
                    padding: 15px;
                    background-color: $mainColor;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    .icon{
                        color: white;
                    }
                }
            }
        }
    }
    .service_list{
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        .check{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .message{
                font-size: 20px;
                color: $mainBold;
            }
            .services_list{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
                table{
                    width: 100%;
                    margin-top: 69px;
                    thead{
                        width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        background: #DADEF3;
                        padding: 10px;
                        th{
                            width: 15%;
                            color: $mainBold;
                            font-size: 18px;
                            text-align: left;
                        }
                        .name{
                            width: 35%;
                        }
                    }
                    }
                    tbody{
                        width: 100%;
                    tr{
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 5px;
                        background: $divColor;
                        &.active{
                            background: white;
                        }
                        td{
                            width: 15%;
                            font-weight: 400;
                            display: flex;
                            text-align: right;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            .delete{
                                background: red;
                                padding: 3px;
                                color: white;
                                cursor: pointer;
                                margin-right: 10px;
                                .icon{
                                    color: white;
                                }
                            }
                            .edit{
                                background: green;
                                padding: 3px;
                                color: white;
                                cursor: pointer;
                                margin-right: 10px;
                                .icon{
                                    color: white;
                                }
                            }
                            .expand{
                                background: $secondColor;
                                padding: 3px;
                                color: white;
                                cursor: pointer;
                                .icon{
                                    color: white;
                                }
                            }
                        }
                        .name{
                            width: 35%;
                        }
                    }
                    }
                }
                .pagination{
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    button{
                        padding: 10px;
                        margin: 5px;
                        cursor: pointer;
                        outline: none;
                        border: none;
                        background: $divColor;
                        &.active{
                            background: $mainBold;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    .message{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .toast{
        position: absolute;
        bottom: 0;
        width: 100%;
        opacity: 0;
        align-items: center;
        justify-content: center;
        background: $mainColor;
        padding: 15px;
        animation: top .5s forwards;
        &.active{
            animation: bottom .5s forwards;
            display: flex;   
        }
        p{
            color: white;
        }
        .clear{
            position: inherit;
            right: 10px;
            background: $mainBold;
            padding: 5px;
            cursor: pointer;
            border-radius: 4px;
            .icon{
                color: white;
            }
        }
    }
}
@keyframes move {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes bottom {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}
@keyframes top {
    0% {
        bottom: 0;
        opacity: 1;
    }
    100% {
        bottom: -100px;
        opacity: 0;
    }
}