@import '../../global.scss';
.queue_add{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    overflow: hidden;
    .note{
        position: absolute;
        width: 100%;
        padding: 15px;
        background: $mainColor;
        bottom: -100px;
        transition: all .5s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 18px;
        &.display{
            bottom: 0;
        }
    }
    .top_notch{
        width: 100%;
        background: $mainBold;
        position: absolute;
        top: 0;
        padding: 20px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        .title{
            position: fixed;
            left: 0;
            right: 0;
            h1{
                color: white;
                text-align: center;
                font-weight: 500;
            }
        }
        .item{
            position: absolute;
            left: 20px;
            .logo{
                width: 80px;
                height: 80px;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .printable{
        width: 20%;
        display: none;
        align-items: center;
        justify-content: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: fixed;
        background: white;
        padding: 20px;
        &.active{
            display: flex;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            height: auto;
            //padding: 20px 0;
            width: 100%;
            h1{
                font-size: 20px;
                margin: 10px 0;
                width: 100%;
                text-align: center;
            }
            .contents{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h2{
                    margin: 15px 0;
                    font-size: 30px;
                }
                .qr{
                    margin: 15px;
                }
                p{
                    text-align: center;
                }
            }
        }
    }
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        .icon{
            width: 200px;
            height: 200px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .item{
            background: $mainColor;
            cursor: pointer;
            color: $mainBold;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            width: 20%;
            font-size: 25px;
            margin: 20px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            border-radius: 100px;
            p{
                color: white;
                font-size: 40px;
            }
        }
        .suggestions{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .title{
                h3{
                    font-size: 25px;
                    color: $mainColor;
                    font-weight: 500;
                }
            }
            .sugs{
                display: flex;
                align-items: center;
                justify-content: center;
                .sug{
                    border: 2px solid $divColor;
                    padding: 10px;
                    border-radius: 100px;
                    font-size: 25px;
                    margin: 10px;
                    color: $mainBold;
                    cursor: pointer;
                    transition: all .5s ease-in-out;
                    &.active{
                        background: $mainColor;
                        color: white;
                    }
                }
            }
            .sug_action{
                display: flex;
                align-items: center;
                justify-content: center;
                input{
                    padding: 15px;
                    border: 2px solid $divColor;
                    border-radius: 10px;
                    outline: none;
                    margin-right: 10px;
                    width: 270px;
                    height: 60px;
                    font-size: 20px;
                }
                .buttona{
                    background: $mainColor;
                    border-radius: 50%;
                    padding: 10px;
                    cursor: pointer;
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    .icon{
                        color: white;
                        animation: move .5s infinite;
                    }
                    &.loading{
                        animation: borderCycle .5s infinite;
                        opacity: .8;
                    }
                }
            }
        }
    }
    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .content{
            position: fixed;
            background: white;
            animation: fall .5s forwards;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            &.active{
                animation: fall .5s forwards;  
            }
            .top{
                width: 100%;
                //position: absolute;
                background: $mainBold;
                padding: 15px;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                h1{
                    font-size: 20px;
                    color: white;
                    font-weight: 400;
                    font-family: "roboto";
                }
            }
            .conts{
                padding: 30px 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .topa{
                    border: 2px solid green;
                    border-radius: 50%;
                    padding: 20px;
                    animation: border 1s ease-in-out;
                    .icon{
                        color: green;
                        animation: icon .8s ease-in-out;
                    }
                }
                h1{
                    font-size: 25px;
                    font-weight: 400;
                    margin: 10px 0;
                    animation: border 1s ease-in-out;
                }
            }
            .contents{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .bar{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .right{
                        background: $divColor;
                        padding: 10px;
                        cursor: pointer;
                        margin: 20px;
                        .icon{
                            color: $mainColor;
                        }
                    }
                    .left{
                        margin: 20px;
                    }
                }
                .keyBoard{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    .key{
                        background: $divColor;
                        padding: 10px;
                        margin: 20px;
                        color: $mainColor;
                        width: 20%;
                        text-align: center;
                        cursor: pointer;
                        font-weight: 600;
                    }
                }
                .exceptions{
                    width: calc(100% - 20px);
                    margin: 20px 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: $divColor;
                    padding: 5px;
                    h1{
                        font-size: 20px;
                        color: $mainBold;
                        font-weight: 500;
                    }
                    .suggestions{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: center;
                        .suggestion{
                            background: $divColor;
                            margin: 5px;
                            padding: 5px;
                            border: 1px solid $mainColor;
                            border-radius: 100px;
                            cursor: pointer;
                            transition: all .5s ease-in-out;
                            &.active{
                                background: $mainBold;
                                border: none;
                                color: white;
                            }
                        }
                    }
                    .actiona{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        display: none;
                        .acta{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            label{
                                margin-right: 10px;
                            }
                            .duara_nje{
                                width: 60px;
                                height: 30px;
                                border-radius: 100px;
                                background: grey;
                                cursor: pointer;
                                display: flex;
                                align-items: center;
                                &.active{
                                    background: $mainColor;
                                }
                                .duara_ndani{
                                    width: 40px;
                                    height: 20px;
                                    border-radius: 100px;
                                    background: white;
                                    margin: 10px;
                                    transition: all .2s ease-in-out;
                                    &.active{
                                        transform: translateX(20%);
                                    }
                                }
                            }
                        }
                    }  
                }
                .action{
                    width: 100%;
                    margin: 20px 0;
                    padding: 0 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    button{
                        width: 70%;
                        background: $mainBold;
                        outline: none;
                        border: none;
                        color: white;
                        padding: 20px;
                        cursor: pointer;
                    }
                    .cleara{
                        width: 20%;
                        background: $mainBold;
                        color: white;
                        padding: 20px;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
    }
}
@keyframes border {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fall {
    0% {
        top: -100px;
        opacity: 0;
    }
    100% {
        top: 50%;
        opacity: 1;
    }
}
@keyframes fallup {
    0% {
        top: 50%;
        opacity: 1;
    }
    100% {
        top: -100px;
        opacity: 0;
    }
}
@keyframes icon {
    0% {
        transform: rotate(90deg);
        color: green;
    }
    100% {
        transform: rotate(0deg);
        color: white;
    }
}
@keyframes move {
    0%{
        right: 0;
    }
    100%{
        right: 20%;
    }
}
@keyframes borderCycle {
    0%{
        border: 3px solid $secondColor;
    }
    100%{
        border: 3px solid transparent;
    }
}